.thumbnail {
    width: 40px;
    height: 33px;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 2px;
    object-fit: cover;
}

.imgContainer {
    width: 100%;
    height: fit-content;
    max-height: 70vh;
    overflow-y: scroll;
}

.imgContainer > div {
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

span.pic_count {
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid black;
    line-height: 15px;
}