.collectionContainer, .choiceButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collectionContainer {
    margin-bottom: 10px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    align-items: center;
    padding: 5px;
    flex-shrink: 0;
}

.collectionName {
    cursor: pointer;
}

.trashContainer {
    width: 30px;
    cursor: pointer;
}