* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #b0b0b0;
  /* animation: 2s toggle infinite forwards; */
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes toggle {
  0% {
    background-color: black;
  }
  10% {
    background-color: white;
  }
  15% {
    background-color: black;
  }
  30% {
    background-color: white;
  }
  55% {
    background-color: black;
  }
  60% {
    background-color: white;
  }
  65% {
    background-color: black;
  }
  70% {
    background-color: white;
  }
  80% {
    background-color: black;
  }
  99% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}