.itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    overflow-y: scroll;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.inputContainer input {
    margin-left: 20px;
}