.tagContainer {
    border-top: 1px solid #505050;
    padding: 5px 10px;
}

.tag {
    padding: 0 5px;
    margin: 2px 2px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    opacity: .6;
}